.cli-window {
    height: 100%;
    overflow: auto;
    padding-bottom: 3rem;
    background: #2c2c2c;

    div[name="react-console-emulator"] {
        height: 100%;
        background: transparent !important;
    }
}