.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    overflow: scroll;
    height: 100%;
    padding: 0.5rem;
    padding-bottom: 5rem;

    .card {
        flex: 1;
        flex-basis: 15rem;
        max-width: 20rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        // height: 150px;
        background-color: #9e9e9e4e;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        gap: 1rem;

        color: rgb(213, 213, 213);

        .card-title {
            // margin-top: auto;
            font-size: 1.25rem;
            font-weight: 600;
        }

        .card-description {
            font-size: 1rem;
            opacity: 0.7;
            word-spacing: 0.3rem;
            line-height: 1.3;
        }

        .img-container {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            .tag {
                // flex: 1;
                // text-align: center;
                padding: 0.25rem 0.5rem;
                background-color: #9e9e9e4e;
                border-radius: 0.25rem;
                width: fit-content;
                font-size: 0.75rem;
                font-weight: 500;
                white-space: nowrap;
            }
        }

        .urls {

            margin-top: auto;
            display: flex;
            gap: 0.5rem;

            a {
                color: rgb(213, 213, 213);
                text-decoration: none;
                font-size: 0.875rem;
                font-weight: 500;
                padding: 0.5rem 0.75rem;
                background-color: #9e9e9e4e;
                border-radius: 0.25rem;
                width: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.25rem;
                box-shadow: 0px 0px 10px #2120204e;
                transition: all 0.3s ease;

                img {
                    width: 16px;
                    height: 16px;
                    margin-right: 0.25rem;
                }
            }

            a:hover {
                background-color: #00bbff;
            }

            a:active {
                background-color: #00bbff;
                transform: scale(0.95);
            }
        }
    }
}