.window {
    background-color: black;
    border-radius: 0.75rem;
    overflow: hidden;
    height: 100%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    min-width: 300px;

    .nav {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        border-bottom: 1px solid #9e9e9e58;

        .dots {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            cursor: pointer;

            .dot {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #9e9e9e4e;
                transition: all 0.2s ease;
            }

            .red {
                background-color: #ff5f56;
            }

            .red:hover {
                background-color: #ff5f56c9;
                box-shadow: 0px 0px 10px #ff5f56c9;
            }

            .yellow {
                background-color: #ffbd2e;
            }

            .yellow:hover {
                background-color: #ffbd2ec9;
                box-shadow: 0px 0px 10px #ffbd2ec9;
            }

            .green {
                background-color: #27c93f;
            }

            .green:hover {
                background-color: #27c93fc9;
                box-shadow: 0px 0px 10px #27c93fc9;
            }
        }
    }

    .main-content {
        // height: calc(100% - 50px);
        height: 100%;
        padding-inline: 0.2rem;
        padding-block: 0.2rem;
    }

    *::-webkit-scrollbar {
        width: 8px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #9e9e9e4e;
        border-radius: 4px;
    }
}