.dock {
    display: flex;
    gap: 0.75rem;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;

    background-color: rgba(63, 63, 63, 0.292);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;
    backdrop-filter: blur(5px);

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.65rem;
        border-radius: 0.5rem;
        aspect-ratio: 1/1;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        transition: all 0.5s cubic-bezier(0.19, 1.2, 0.35, 1.2);
    }

    .github,
    .cli {
        background: linear-gradient(to bottom, rgb(66, 66, 66), black);
    }

    .note {
        background: linear-gradient(to bottom, rgb(255, 135, 55), rgb(255, 153, 28));
    }

    .pdf {
        background: linear-gradient(to bottom, rgb(255, 80, 91), rgb(255, 25, 17));
    }

    .calender,
    .mail {
        background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 52, 255));
    }

    .spotify {
        background: linear-gradient(to bottom, rgb(78, 176, 33), rgb(53, 142, 12));
    }

    .link {
        background: linear-gradient(to bottom, rgb(163, 97, 170), rgb(142, 33, 170));
    }

    .icon:hover {
        transform: scale(1.25) translateY(-30%);
    }

    .icon:hover+.icon,
    .icon:has(+ .icon:hover) {
        transform: scale(1.1) translateY(-15%);
    }
}