nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: #9e9e9e4e;
    backdrop-filter: blur(5px);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .left,
    .right {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .vanta-icon {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
    }

    .nav-icon {
        display: flex;
        justify-content: center;
    }

    .nav-item {
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .nav-item:hover {
        color: #9e9e9e;
    }

    .nav-item:active {
        color: #9e9e9e;
        transform: scale(0.95);
    }
}